*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;

 
    /* overflow: hidden; */
}


.App{

    /* background-color: #ededed ; */

    width: 100vw;
    height: 100vh;
    /* display: flex;
    align-items: center;
    justify-content: center; */

    display: grid;
    place-content: center;

}

.app_body{

    width: 57vw;
    height: 90vh;

    /* background-color: #dadeb3; */

    box-shadow: -10px 10px 10px -10px black;

    /* display: flex; */

    

}


body{

    background-color: #ededed;
}