*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.chatroom_info_container{

    display: flex;
    align-items: center;

    margin: 1rem 1rem;
    gap: 0.5rem;


   
}

h5{
    color: gray;
}


.sidebar_chatroom_info{

    display: flex;
    flex-direction: column;
 
}


.sidebar_chatroom_info>h4{

 color: black
 
   
}

.chatroom_main_container:hover{

    background-color:#ebedeb ;
}

.chatroom_info_container{

    text-decoration: none;
    list-style: none;
}