.home_container {

    /* width: 100%;
    height: 100%;
    border: 2px solid gray;
    margin: 1rem 2rem; */

    display: flex;


}

.home_sideBar_container {

    border: 1px solid gray;
    flex-basis: 10rem;
}

.home_task_container {

    flex: 1;
}


